<!--
  # display 3 boxes : full_name, user_name, password
  # add this into the database.create
  #upon successful sign_up, proceed to the log_in web page
  -->

<div class="container">
  <h1>Welcome to the SECRET SOCIETY PAGE!</h1>
  <br/>
  <br/>
  <a href = "/sign_out">SignOut</a>
  <br/>
  <br/>

</div>